@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    color: blue;
    margin: 10px;
}

/* called in the welcome.blade file. This is on every page*/
#app {
    background-color: ghostwhite;
}

/* called in the app.vue file. This is on every page */
.app-vue-element {
    background-color: ghostwhite;
    margin: 10px;
}
.app-vue-element h1{
    font-size: 40px;
    text-align:  center; 
}

.app-nav {
    padding: 20px;
    border: 1px, solid, black;
    text-align:  center; 
    font-size: 20px;
}


/* called in the singular components (overview, edit, etc..). Their content varies from page to page.*/
.component-vue-element {
    background-color: ghostwhite;
    
}
.component-vue-element h1 {
    font-size: 30px;
    text-align:  center; 
    margin: 20px;
}

input, select {
    border: 1px solid black;
}
.table {
  background-color: ghostwhite;
  
}
.card {
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    margin-left:6%;
    text-align:  center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: ghostwhite;
    
}

.card p {
  line-height: 1.5;
  text-wrap: wrap;
  
}

.delete, .edit {
    margin-top: 20px;
} 
.title {
    line-height: 1.5;
    
    
    font-size: larger;
    text-align: center;
    font-weight: bolder;
}

.author {
    line-height: 1.5;
    
    text-align: center;
    
    font-weight: bold;
}

.review-card {
    padding: 20px;
    
}

.title::first-letter  {
    text-transform: capitalize;
}
.author::first-letter {
    text-transform: capitalize;
}

.badge {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width:fit-content;
    margin: auto;
}

.good {
    background-color: green;

}

.meh {
    background-color: yellow;
}

.bad {
    background-color: red;
}

.to-review {
    background-color: grey;

}

input[type=submit] {
    border: 1px solid black;
    padding: 5px;
    border-radius: 4px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.app-form {
    width: 30%;
    margin:auto;
}
.errors {
    padding: 20px;
}

.validation-error {
    margin: 20px;
    list-style-type: "\1f6a9";

}

.delete {
    border: 1px solid black;
    padding: 5px;
    border-radius: 4px;
}

.delete:hover{
    background-color: red;
    
}
.book {
    background-color: ghostwhite;
    padding: 20px;
}