@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    color: blue;
    margin: 10px;
}

/* called in the welcome.blade file. This is on every page*/
#app {
    background-color: grey;
}

/* called in the app.vue file. This is on every page */
.app-vue-element {
    background-color: aquamarine;
    margin: 10px;
}

/* called in the singular components (overview, edit, etc..). Their content varies from page to page.*/
.component-vue-element {
    background-color: beige;
}

.card {
    padding: 20px;
    text-align: justify;
    border: 1px solid black;
}

.title {
    font-size: larger;
    text-align: center;
    font-weight: bolder;
}

.author {
    text-align: center;
    font-weight: bold;
}

.title::first-letter {
    text-transform: capitalize;
}

.badge {
    padding: 5px;
    border-radius: 5px;
}

.good {
    background-color: green;

}

.meh {
    background-color: yellow;
}

.bad {
    background-color: red;
}

.to-review {
    background-color: grey;

}

input[type=submit] {
    border: 1px solid black;
    padding: 5px;
    border-radius: 4px;
}

input[type=submit]:hover {
    background-color: #45a049;
}